html, body {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

.hidden {
    display: none;
}

/* HEADERS AND NAV WITH MENU */

.full-header-container {
    position: relative;
}

.top-header {
    z-index: 5;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    transition: all ease .3s;
    height: 55px;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.row-container {
    display: flex;
}

.top-header .column-container {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    border-bottom: solid 1px rgb(206, 206, 206);
}

.top-header a {
    text-decoration: none;
    color: rgb(148, 148, 148);
}

.top-header a:hover {
    color: rgb(22, 22, 82);
    transition: all ease .3s;
}

.top-header .address {
    display: none;
}

#nav {
    background-color: white;
    position: relative;
    z-index: 5;
    padding: 5px;
    align-items: center;
}

#company-name {
    /* Placeholder */
    display: inline;
}

#company-name img {
    max-width: 100px;
    margin: 20px 0;
}

.hamburger-button-container {
    display: flex;
    font-size: 20px;
    margin-bottom: 15px;
}

.hamburger-button {
    color: rgb(148, 148, 148);
    transition: all ease .5s;
}

.rotated {
    transform: rotate(90deg);
    transition: all ease .5s;
}

.translate-menu {
    transform: translateY(142px);
    transition: all ease .4s;
}

.nav-menu-container {
    position: absolute;
    left: 50%;
    z-index: 3;
    bottom: 8px;
    transition: all ease .4s;
}

.nav-menu {
    height: 100px;
    background-color: white;
    position: relative;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 3px rgb(51, 51, 51);
    padding: 20px 50px;
    left: -50%;
}

.nav-items {
    justify-content: space-around;
    margin: 5px 0;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
}

.nav-items li {
    text-decoration: none;
    list-style-type: none;
}

/* MAIN PAGE IMAGE */

.happy-jumpers {
    width: 100%;
    position: relative;
    z-index: 2;
    
}

.jumper-img {
    width: 100%;
    min-height: 300px;
    max-height: 600px;
    z-index: 2;
    border-top: solid 1.2px #575757;
    border-bottom: solid 1.2px #575757;
}

.jumper-text-container {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.jumper-text-top {
    font-size: 20px;
    color: rgb(255, 255, 255);
    animation-name: jumper-top;
    animation-duration: 2s;
}

.jumper-text-bottom {
    color: rgb(241, 240, 255);
    font-size: 25px;
    animation-name: jumper-top;
    animation-duration: 2s;
}

.feel {
    font-family: 'Francois One', sans-serif;
}

/* SERVICES IMAGES */

.services-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.service-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: solid black 1px;
    border-radius: 50%;
    margin: 30px 0;
}

/* MAIN ABOUT TEXT */

.main-about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: white;
    box-shadow: inset 0 2px 40px #c6e5ec, inset 0 -2px 2px white;
}

.about-text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-text-section h3 {
    font-size: 25px;
    color: rgb(0, 16, 105);
}

/* GOOGLE MAP CONTAINER */

.map-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

@keyframes jumper-top {
    from {
        opacity: .01;
    }
    to {
        opacity: 1;
    }
}

@media (min-width: 600px) {
    .jumper-text-bottom {
        font-size: 70px;
    }

    .jumper-text-top {
        font-size: 55px;
    }
}