html, body {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

.hidden {
    display: none;
}

/* HEADERS AND NAV WITH MENU */

.full-header-container {
    position: relative;
}

.top-header {
    z-index: 5;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    transition: all ease .3s;
    height: 55px;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.row-container {
    display: flex;
}

.top-header .column-container {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    border-bottom: solid 1px rgb(206, 206, 206);
}

.top-header a {
    text-decoration: none;
    color: rgb(148, 148, 148);
}

.top-header a:hover {
    color: rgb(22, 22, 82);
    transition: all ease .3s;
}

.top-header .address {
    display: none;
}

#nav {
    background-color: white;
    position: relative;
    z-index: 5;
    padding: 5px;
    align-items: center;
}

#company-name {
    /* Placeholder */
    display: inline;
}

.hamburger-button {
    display: flex;
    font-size: 20px;
}

.hamburger-button {
    color: rgb(148, 148, 148);
    transition: all ease .3s;
}

.rotated {
    transform: rotate(90deg);
    transition: all ease .3s;
}

.translate-menu {
    transform: translateY(102px);
    transition: all ease .4s;
}

.nav-menu-container {
    width: 70%;
    position: absolute;
    left: 50%;
    z-index: 3;
    bottom: 3px;
}

.nav-menu {
    height: 100px;
    background-color: white;
    transition: all ease .4s;
    position: relative;
    align-items: center;
    text-align: center;
    border: solid black 1px;
    left: -50%;
}

.nav-items {
    justify-content: space-around;
    margin: 5px 0;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
}

.nav-items li {
    text-decoration: none;
    list-style-type: none;
}

/* MAIN PAGE IMAGE */

.happy-jumpers {
    width: 100%;
    position: relative;
    z-index: 2;
}

.jumper-img {
    max-width: 100%;
    min-height: 300px;
    z-index: 2;
}

.jumper-text-top {
    font-size: 20px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 2px;
    left: 40px;
    animation-name: jumper-top;
    animation-duration: 2s;
}

.jumper-text-bottom {
    color: rgb(241, 240, 255);
    position: absolute;
    font-size: 25px;
    bottom: 40px;
    right: 60px;
    animation-name: jumper-top;
    animation-duration: 2s;
}

@keyframes jumper-top {
    from {
        opacity: .01;
    }
    to {
        opacity: 1;
    }
}